* {
    font-family: Arial;
}
body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
    height: 120px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;
}
nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a,
nav a:hover {
    background-color: #39AAE1;
    color: white;
}
#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}
.column {
    flex-direction: column;
}
.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1 {
    color: white;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banner_headline h2 {
    color: white;
    font-size: 20px;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    max-width: 350px;
}
.banner_options {
    height: 210px;
    display: flex;
}
.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: white;
    padding: 20px;
}
.banner1 {
    background-color: #39AAE1;
}
.banner2 {
    background-color: #0079C7;
}
.banner3 {
    background-color: #2B4C99;
}
.banner_title {
    font-size: 21px;
}
.banner_description {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a {
    display: inline-block;
    border: 1px solid #FFF;
    padding: 5px;
    color: white;
    font-size: 13px;
    text-decoration: none;
}
h2 {
    color: #FFF;
    font-size: 24px;
    font-family: 'Arial';
    font-weight: normal;
    margin: 0;
    padding: 0;
    display: block;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.items_list.dark_blue li {
    border-color: #4468B2;
}
.items_list li {
    padding: 12px 0;
    border-bottom: 1px solid #E0E0E0;
    background-position: left center;
    background-repeat: no-repeat;
    line-height: 120%;
}
.items_list.dark_blue li span,
.items_list.dark_blue .value {
    color: #FFF;
}
.items_list.thin a,
.items_list.thin span {
    font-weight: normal;
}
.items_list a,
.items_list span {
    float: left;
}
#site_container {
    display: flex;
    justify-content: center;
}
#site_container section {
    flex: 2;
}
#site_container aside {
    flex: 1;
}
.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text {
    color: black;
    font-size: 18px;
}
.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #42B3E5;
    margin-top: 10px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
article {
    flex: 1;    
    min-width: 300px;
    margin-right: 20px;
}
article a {
    text-decoration: none;
}
article .news_data {
    display: flex;
}
article .news_posted_at {
    background-color: #2B4C99;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .news_comments {
    background-color: #39AAE1;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
}
article .news_thumbnail {
    margin-top: 30px;
}
article .news_thumbnail img {
    width: 100%;
    height: auto;
}
article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000;
    font-size: 23px;
}
article .news_resume {
    color: #666;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 30px;
}
footer {
    background-color: #202020;
    display: flex;
    justify-content: center;
}
.footer_menu {
    display: flex;
}
.fm_1, .fm_2, .fm_3 {
    flex: 1;
    color: #FFF;
    padding: 20px;
}
.fm_1 {
    background-color: #39AAE1;
}
.fm_2 {
    background-color: #0079C7;
}
.fm_3 {
    background-color: #2B4C99;
}
.flex_column {
    flex-direction: column;
}
.footer_area {
    display: flex;
}
.footer_area_item {
    flex: 1;
    color: #FFF;
}
footer .widget_title_text {
    color: #FFF;
}
.footer_copyright_area {
    border-top: 1px solid #353535;
    height: 40px;
    line-height: 40px;
    font-size: 11px;
    color: #909090;
    margin-top: 15px;
}
.footer_copyright_area a {
    text-decoration: none;
}